@model  StudentPortal.Models.Course
@{
    ViewBag.Title = "Index";
}

<h2>Course Details</h2>
@using (Html.BeginForm("Index", "Course"))
{
    <div class="form-group">
        <label for="exampleInputEmail1"> Course Name </label>
        <input type="text" name="CourseName" class="form-control" id="UserName" aria-describedby="emailHelp" placeholder="Enter User Name" required="required">
        <small id="emailHelp" class="form-text text-muted">We'll never share your Name with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Course Code </label>
        <input type="text" name="CourseCode" class="form-control" id="UserEmail" aria-describedby="emailHelp" placeholder="Enter email" required="required">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
}

